<div class="container">
	<div>
		<div collapse="getCalcListViewStatus()">
			<div id="calculation-list" class="row">
				<div> <!--class="col-xs-6"-->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<table style="width: 100%">
					  			<tr>
					  				<td><h4>Kalkyleoversikt for {{selectedProjectID}} - {{selectedProjectTitle}}</h4></td>
					  				<td style="text-align: right;">			  					
					  					<button type="button" title="Ny kalkyle" class="btn btn-default">
											<span class="glyphicon glyphicon-plus" ng-click="openCalculationModal()"></span>
										</button>
					  				</td>
					  			</tr>
					  		</table>
					  	</div>
					  	<div class="panel-body">
					  		<div class="input-group">
					            <input type="text" class="form-control" placeholder="Søk i kalkyler" name="srch-term" id="srch-term" ng-model="searchCalculation">
					            <div class="input-group-btn">
					                <button class="btn btn-default" ng-click="resetSearch()" ng-model="searchCalculation"><i class="glyphicon glyphicon-remove-circle"></i></button>
					            </div>
					        </div><br/>
					    	<table class="table table-hover">
					    		<tr>
					    			<th>Tittel</th>
					    			<th>Type</th>
					    			<th>Status</th>
					    			<th></th>
					    		</tr>
								<tr ng-repeat="calculation in (filteredCalculations = (calculations | filter:searchCalculation)) | startFrom:currentPage*pageSize | limitTo:pageSize">
									<td>{{calculation.title}}</td>
									<td>{{calculation.type}}</td>
									<td>{{calculation.active}}</td>
									<td>
										<button type="button" title="Slett kalkyle" class="btn btn-default" style="border: 1px; background-color: transparent" ng-click="deleteCalculation(calculation._id)">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
										<button type="button" title="Rediger kalkyle" style="border: 1px; background-color: transparent" ng-click="editCalculation($index)">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button type="button" title="Vis kalkyledetaljer for {{calculation.title}}" style="border: 1px; background-color: transparent" ng-click="openCalculation($index)">
											<span class="glyphicon glyphicon-th-list"></span>
										</button>
									</td>

								</tr>
							</table>

							<ul class="pagination">
							  <li><a href="" ng-click="changePage(false)">&laquo;</a></li>
							  <li><span>{{currentPage+1}}/{{numberOfPages()}}</span></li>
							  <li><a href="" ng-click="changePage(true)">&raquo;</a></li>
							</ul>

					  	</div>
					</div>
				</div>
			</div>
		</div>
		<div collapse="!getCalcListViewStatus()">
			<div id="calculation-list" class="row">
				<div> <!--class="col-xs-6"-->
					<div class="panel panel-default">
					  	<div class="panel-heading">
					  		<table style="width: 100%">
					  			<tr>
					  				<td><h4>Kalkyledetaljer for {{activeCalculation.title}}</h4></td>
					  				<td style="text-align: right;">		
					  					<div class="btn-group">	  					
						  					<button type="button" class="btn btn-default" title="Tilbake til kalkyleoversikt" ng-click="toggleCalcListView(!hideCalcList)">
												<span class="glyphicon glyphicon-arrow-left"></span>
											</button>
						  					<button type="button" class="btn btn-default" title="Ny delkalkyle" ng-click="openCalculationPartModal()">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
											<button type="button" class="btn btn-default" title="Lagre kalkyle" ng-click="saveCalculation()">
												<span class="glyphicon glyphicon-save" ng-class="buttonColor"></span>
											</button>
										<div>
					  				</td>
					  			</tr>
					  		</table>
					  	</div>
					  	<div class="panel-body">
					  		<!--<button class="btn btn-default" ng-click="toggleCalcListView(!hideCalcList)">Tilbake</button>
							<button type="submit" class="btn btn-primary" ng-click="addNewPart()">Ny delkalkyle</button>-->
							<tabset>
							    <tab heading="Sammenstilling"><br/>Sammenstilling</tab>
							    <tab ng-repeat="calculationPart in getCalculationParts()" active="tab.active" disabled="tab.disabled">
							      	<tab-heading>
							        	{{calculationPart.title}}
							      	</tab-heading>
							      	I've got an HTML heading, and a select callback. Pretty cool!
							    </tab>
							</tabset>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
