<div class="container">
	<!-- CUSTOMER LIST -->
	<div id="customer-list" class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
			  	<div class="panel-heading">Kundeliste</div>
			  	<div class="panel-body">
			    	<table class="table table-hover">
			    		<tr>
			    			<th>ID</th>
			    			<th>Navn</th>
			    			<th></th>
			    		</tr>
						<tr ng-repeat="customer in customers">
							<td>{{customer.idcustomer}}</td>
							<td>{{customer.name}}</td>
							<td>
								<button type="button" style="border: 0px; background-color: transparent">
									<span class="glyphicon glyphicon-remove" ng-click="deleteCustomer(customer.idcustomer)"></span></td>
								</button>
						</tr>
					</table>
			  	</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="panel panel-default">
			  	<div class="panel-heading">Kundeskjema</div>
			  	<div class="panel-body">
					<form name="customerForm" novalidate="">
						<div class="form-group">
							<div id="customer-form-grid" class="row">
								<div class="col-xs-12 col-sm-6 col-md-8">
									<input type="text" class="form-control text-center" name="customerName" 
										ng-model="formData.name" required="" placeholder="Navn på kunde" />
								</div>
								<div class="col-xs-6 col-md-4">
									<span class="error" ng-show="customerForm.customerName.$error.required">*</span>
								</div>
						</div>
						<br/>
						<button type="submit" class="btn btn-primary" ng-click="createCustomer()">Lagre</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
