<div class="container">
	<div id="leader-list" class="row">
		<div> <!-- class="col-xs-6" -->	
			<div class="panel panel-default">
			  	<div class="panel-heading">
			  		<table style="width: 100%">
			  			<tr>
			  				<td><h4>Prosjektlederoversikt</h4></td>
			  				<td style="text-align: right;">
			  					<button type="button" title="Ny prosjektleder" class="btn btn-default">
									<span class="glyphicon glyphicon-plus" ng-click="openLeaderModal()"></span>
								</button>
			  				</td>
			  			</tr>
			  		</table>
			  	</div>
			  	<div class="panel-body">
			  		<div class="input-group">
			            <input type="text" class="form-control" placeholder="Søk i prosjektleder" name="srch-term" id="srch-term" ng-model="searchLeader">
			            <div class="input-group-btn">
			                <button title="Tilbakestill søk" class="btn btn-default" ng-click="resetSearch()" ng-model="searchLeader"><i class="glyphicon glyphicon-remove-circle"></i></button>
			            </div>
			        </div><br/>
			    	<table class="table table-hover">
			    		<tr>
			    			<th>Navn</th>
			    			<th></th>
			    		</tr>
						<tr ng-repeat="leader in (filteredLeaders = (leaders | filter:searchLeader)) | startFrom:currentPage*pageSize | limitTo:pageSize">
							<td>{{leader.name}}</td>
							<td>
								<button type="button" title="Slett prosjektleder" style="border: 1px; background-color: transparent" ng-click="deleteLeader(leader._id)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<button type="button" title="Rediger prosjektleder" style="border: 1px; background-color: transparent" ng-click="editLeader($index)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</td>

						</tr>
					</table>

					<ul class="pagination">
					  <li><a href="" ng-click="changePage(false)">&laquo;</a></li>
					  <li><span>{{currentPage+1}}/{{numberOfPages()}}</span></li>
					  <li><a href="" ng-click="changePage(true)">&raquo;</a></li>
					</ul>

			  	</div>
			</div>
		</div>
	</div>
</div>
