<div class="container">
	<div id="project-list" class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
			  	<div class="panel-heading">Prosjektliste</div>
			  	<div class="panel-body">
			  		<div class="input-group">
			            <input type="text" class="form-control" placeholder="Søk i prosjekter" name="srch-term" id="srch-term" ng-model="searchProject">
			            <div class="input-group-btn">
			                <button class="btn btn-default" ng-click="resetSearch()" ng-model="searchProject"><i class="glyphicon glyphicon-remove-circle"></i></button>
			            </div>
			        </div><br/>
			    	<table class="table table-hover">
			    		<tr>
			    			<th>ID</th>
			    			<th>Tittel</th>
			    			<th></th>
			    		</tr>
						<tr ng-repeat="project in (filteredProjects = (projects | filter: searchProject)) | startFrom:currentPage*pageSize | limitTo:pageSize">
							<td>{{project.idproject}}</td>
							<td>{{project.title}}</td>
							<td>
								<button type="button" alt="Slett prosjekt" style="border: 1px; background-color: transparent">
									<span class="glyphicon glyphicon-remove" ng-click="deleteProject(project.idproject)"></span>
								</button>
								<button type="button" alt="Rediger prosjekt" style="border: 1px; background-color: transparent">
									<span class="glyphicon glyphicon-pencil" ng-click="editProject($index)"></span>
								</button>
							</td>

						</tr>
					</table>
					<ul class="pagination">
					  <li><a href="" ng-click="changePage(false)">&laquo;</a></li>
					  <li><span>{{currentPage+1}}/{{numberOfPages()}}</span></li>
					  <li><a href="" ng-click="changePage(true)">&raquo;</a></li>
					</ul>
			  	</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="panel panel-default">
			  	<div class="panel-heading">Prosjektskjema</div>
			  	<div class="panel-body">
					<form name="projectForm" novalidate="">
						<div class="form-group">
							<div id="project-form-grid" class="row">
								<div class="col-xs-12 col-sm-6 col-md-8">
									<input type="text" class="form-control" name="idproject" 
										ng-model="formData.idproject" required="" placeholder="Prosjektnummer" />
								</div>
								<div class="col-xs-6 col-md-4">
									<span class="error" ng-show="projectForm.idproject.$error.required">
									<span class="glyphicon glyphicon-minus" /></span>
								</div>
							</div><br/>
							<div id="project-form-grid" class="row">
								<div class="col-xs-12 col-sm-6 col-md-8">
									<input type="text" class="form-control" name="projectTitle" 
										ng-model="formData.title" required="" placeholder="Navn på prosjekt" />
								</div>
								<div class="col-xs-6 col-md-4">
									<span class="error" ng-show="projectForm.projectTitle.$error.required">
									<span class="glyphicon glyphicon-minus" /></span>
								</div>
							</div><br/>
							<div id="project-form-grid" class="row">
								<div class="col-xs-12 col-sm-6 col-md-8">
									<select class="form-control text-center" 
											name="fkIdCustomer" 
											ng-model="formData.fkIdCustomer" 
											required="" 
											ng-options="customer.idcustomer as customer.name for customer in customers">
									  <!--<option class="text-center" ng-repeat="customer in customers" value="{{customer.idcustomer}}">{{customer.name}}</option>-->
									  <option value="" style="display: none;">-- Kunde ---</option>
									</select>
								</div>
								<div class="col-xs-6 col-md-4">
									<span class="error" ng-show="projectForm.fkIdCustomer.$error.required">
									<span class="glyphicon glyphicon-minus" /></span>
								</div>
							</div>
						</div>
						<br/>
						<button type="submit" class="btn btn-primary" ng-show="showSaveButton" ng-click="createProject()">Lagre</button>
						<button type="submit" class="btn btn-primary" ng-show="showUpdateButton" ng-click="updateProject(projectEditedID)">Oppdater</button>
						<button type="reset" class="btn btn-default" ng-show="showCancelButton" ng-click="resetProjectForm()">Avbryt</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
